body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sort-by, .sale-by {
  border-radius: 50px !important;
  min-width: 160px !important;
  .react-dropdown-select-dropdown {
    border-radius: 25px !important;
  }
}

.spinner {
  position: absolute;
  left: calc(50% - var(--spinner-size) / 2);
  top: calc(50% - var(--spinner-size) / 2);
}

.download-link {
  text-decoration: underline;
  font-weight: bold;
}
